{% extends "lab_10/layout/base.html" %}

{% block content %}
<!-- template source: https://ganool.se/ -->
<section id="later" class="main-watch-later">
	<section id="data-dashboard">
		<div class="panel panel-default">
			<div class="panel-heading" style="text-align: center;">
				<h2 ><b>Watch Later Movies</b> </h2>
			</div>
		</div>
	</section>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-10 col-md-10">
				<div class="row ">
					{% for movie in watch_later_movies %}
					<div class="panel panel-heading col-lg-2 col-md-2 col-sm-4 col-xs-6" style="margin: 15px;">
						<a class="ml-mask" href="{% url 'lab-10:movie_detail' movie.imdbid %}">
							<img class="img-responsive homethumb" src="{{ movie.poster }}">
							<div style="text-align: center; color: black; margin-top: 10px;"> {{ movie.title }} </div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>
</section>
{% endblock %}