 {% extends "lab_4/layout/base.html" %}

 {% block content %}
 <h1 style="text-align: center;">Hi, I am Nabil</h1>
    <div>
         <img src="https://thumb.ibb.co/bzYUW5/bulat_web.png" alt="bulat_web" border="0" style="display:block; margin: auto; margin-bottom: 40px; margin-top: 40px;">
    </div>
 <hr/>
 <section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>About Me</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form" style="margin-bottom: 100px">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}