*{
    padding: 0px;
    margin: 0px;
    font-family: 'Droid Sans';
  }
  body{
    height: 100%;
    background: #E2E2E2;
    margin-bottom: 60px;
    transition: 2s;
  }
  html {
      position: relative;
      min-height: 100%;
  }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      line-height: 60px; /* Vertically center the text there */
      background-color: #696969;
      color: #ffffff;
      z-index:-1;
  }


.picandstatus {
	width: 90%;
	margin: 5px auto;
	background: white;
	border: 0 none;
	 border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	word-wrap: break-word;
}
.picture {
	position: float;
	border-radius: 50%;
	display: block;
	align-content: center;
	align-items: center;
	margin: auto;
	top: 30px;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 50px;
}
.cover {
	position: float;
	width: 100%;
	height: 300px;
	object-fit: cover; 
	top: 0;
	left: 0;
}
#login-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#emailgen {
	width: 90%;
	margin: 5px auto;
	box-sizing: border-box;
	word-wrap: break-word;
}
#status-input {
	align-items: center;
	vertical-align: center;
	border-color: black;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 90%;
    margin: 5px auto;

}
.card-body {
	width: 90%;
	margin: 5px auto;
	background: white;
	border: 0 none;
	 border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	word-wrap: break-word;
}

.judulstatus{
    width: 90%;
    margin: 5px auto;
    margin-top: 50px;
	background: #0093B8;
	border: 0 none;
	 border-radius: 25px;
	box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
	padding: 10px 10px;
	box-sizing: border-box;
    word-wrap: break-word;
    text-align: center;
    color: white;
}

