{% extends "lab_6/layout/base.html" %}
{% block content %}

<!-- ChatBox Section -->
<section name="Chatbox">
    <div class="wrapper">
        <div class="chat-box">
            <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" id="arrow" width="16">
            </div>
            <div class="chat-body">
                <div class="msg-insert">
                </div>
                <div class="chat-text">
                    <textarea placeholder="Press Enter" id="text"></textarea>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Theme Section -->
<section class="theme">
    <div class="container">
        <select style="width: 200px;" class="my-select"></select>
        <button class="btn btn-success apply-button">Apply Theme</button>
    </div>
</section>

</content>
{% endblock %}
