{% extends "lab_7/layout/base.html" %}

{% block content %}
<section name="friend-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h1>{{ friend.friend_name }}</h1>
                <div id="friend-list" class="list-group">
                    <h2><b>NPM </b>{{ friend.npm }}</h2>
                </div>
                <div id="friend-list" class="list-group">
                    <h2><b>Birth </b>{{ friend.birth }}</h2>
                </div>
                <div id="friend-list" class="list-group">
                    <h2><b>Major </b>{{ friend.major }}</h2>
                </div>
                <div id="friend-list" class="list-group">
                    <h2><b>Address </b>{{ friend.address }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    
</script>
{% endblock %}