*{
    padding: 0px;
    margin: 0px;
    font-family: 'Droid Sans';
  }
  body{
    height: 100%;
    background: #E2E2E2;
    margin-bottom: 60px;
    transition: 2s;
  }
  html {
      position: relative;
      min-height: 100%;
  }
  
  .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      line-height: 60px; /* Vertically center the text there */
      background-color: #696969;
      color: #ffffff;
      z-index:-1;
  }